.App {
  text-align: center;
}

.producto, .randomusers{        
  background:radial-gradient(rgb(255, 201, 85),rgb(148, 124, 59));
  margin: 1%;
  text-align: center;
}

body{
  background-image: url(../public/imagenes/Fondo1.webp) ;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.boton{
  background-color: rgb(150, 30, 30) !important;
}

h2{
  background-color: black;
  border-radius: 10px;
  color: rgb(255, 232, 132) !important;
  display: inline-block ;
}




